// Navigation Styles here
.container_nav {
    .display_flex(flex, row-reverse);
    justify-content: space-between;
    // width same size as the main container in global file
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;

    @media @mobile {
        .display_flex(flex, column-reverse);
        align-items: center;
    }

    .navigation {
        margin-top: 1.3rem;
        @media @mobile {
            display: flex;
        }

        a {
            text-decoration: none;
            font-size: 1.8rem;
            margin: 1rem;
            color: @font-color;
            &:hover{
                .button_ani();
            }
        }
    }

}

.top_logo {
    font-size: 4rem;
    color: @shark;
    font-family: 'Indie Flower', cursive;
}
