// Navigation Styles here
.container_nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2rem;
    // width same size as the main container in global file
    width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    .navigation {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 1rem;
        a {
            text-decoration: none;
            font-size: 1.8rem;
            margin: 1rem;
            color: rgb(29, 28, 28);
        }
    }
    .top_logo{
        font-size: 4rem;
        color: rgb(29, 28, 28);
        font-family: 'Bubblegum Sans', cursive;
    }
}